* {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;

}

input {
  padding: 10px 20px;
  border: 1px solid #00a676;
  outline: none;
  border-radius: 100px;
  font-size: 15px;
}

input.error {
  border-color: red;
}

button {
  padding: 10px 20px;
  border: 1px solid gray;
  outline: none;
  border-radius: 100px;
  border-color: #00a676;

  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background: #00a676;
  color: white;
}